
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: local('?'),
        url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
        url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: local('?'),
        url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
        url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}	

/* fonts-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: local('?'),
        url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
        url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* fonts-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: local('?'),
        url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
        url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* fonts-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: local('?'),
        url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
        url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* fonts-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: local('?'),
        url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
        url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* fonts-family: "NautilusPompiliusRegular"; */
@font-face {
    font-family: "NautilusPompiliusRegular";
    src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot");
    src: local('?'),
        url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.woff") format("woff"),
        url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/* fonts-family: "RobotoCondensedRegular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: local('?'),
        url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
        url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* fonts-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: local('?'),
        url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
        url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* fonts-family: "RobotoCondensedBold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: local('?'),
        url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
        url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

// @font-face {
//   fonts-family: 'Material Icons';
//   fonts-style: normal;
//   fonts-weight: 400;
//   src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fontss.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
// }

/* fonts-family: "Material Icon"; */
/*@font-face {
    fonts-family: 'Material Icon';
    fonts-style: normal;
    fonts-weight: 400;
    src: local('Material Icon'),local('MaterialIcons-Regular'),
        url('../fonts/material-design-icons/Material-Design-Icons.woff2') format('woff2');
}*/