
    // The end
    //
      if lt IE 9
      script(src='html5shiv/es5-shim.min.js')
      script(src='html5shiv/html5shiv.min.js')
      script(src='html5shiv/html5shiv-printshiv.min.js')
      script(src='respond/respond.min.js')
    script(src='js/jquery-1.11.3.min.js')
    // // <script src="js/jquery-2.1.4.min.js"></script>
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
